<div class="navbar">
  <div class="navbar-pad">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="nav-collapse collapse">
        <ul class="nav pull-left">
          <li id="process-nav"><%= link_to "流程" %></li>
          <li id="qa-nav"><%= link_to "Q&A" %></li>
          <li id="law-nav"><a href="./index.html">相關法條</a></li>
        </ul>
      </div> <!-- /.nav-collapse -->
    </div> <!-- /.container -->
  </div> <!-- /.navbar-pad -->
</div>
