<section id="masthead" class="masthead-sub">
  <div class="container">
    <h3 align = "center" id="qa-content">常見的Ｑ＆Ａ</h3>
  </div>
</section>
<br>
<section id="service" class='section-wrapper'>
  <div class='container'>
    <div class="accordion" id="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
            Ｑ：決定起訴或合解的時間點
          </a>
        </div>
        <div class="accordion-body collapse in" id="collapseOne">
          <div class="accordion-inner">
            在案件起訴前的第一次或是第二次開庭就會詢問調解意願，起訴後就沒有辦法由檢察官調解，不過到達法院後也可以由自己本身提出調解的意願，書記官會做調解筆錄由法官考慮是否移交調解委員會，不過要調解而使原告撤告要在一審裁判前達成，如果犯罪事情不充分法官也裁定成不起訴
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
            Ｑ：警察傳喚會告知事由嗎？
          </a>
        </div>
        <div class="accordion-body collapse" id="collapseTwo">
          <div class="accordion-inner">
            警察一定要告知告訴人姓名以及關於事情的人事時地物，如果沒有告知的話一定要詢問清楚
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
            Ｑ：編號是否真假?被告編號的真偽?如何確定是否真的被告
          </a>
        </div>
        <div class="accordion-body collapse" id="collapseThree">
          <div class="accordion-inner">
            可以詢問警察局編號是否為真，可以查詢是否真的有這個報案動作，關於網路的告訴的話，警察需要一段時間得到你的網路個人資料，在這時間內不一定有辦法直接查到是你本人
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">
            Ｑ：謊稱報案來嚇阻他人的一些動作會不會構成強制罪?強暴脅迫?
          </a>
        </div>
        <div class="accordion-body collapse" id="collapseFour">
          <div class="accordion-inner">
            很難因此構成強制罪，要看他的一些後續行為
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">
            Ｑ：網路上搜集並公佈關於某個人的新聞是否違反各資法?
          </a>
        </div>
        <div class="accordion-body collapse" id="collapseFive">
          <div class="accordion-inner">
            假設是訊息內有暗示可以使人聯想到某個人，就有觸法的疑慮
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseSix">
             Ｑ：偵查庭傳喚的身份是關係人，可以轉移至其它地點嗎?
          </a>
        </div>
        <div class="accordion-body collapse" id="collapseSix">
          <div class="accordion-inner">
            可以申請轉移關係人看看，關係人其實介於證人跟被告中間，證人的話就會變成，有作證的義務，也有關係人被轉成被告的，所以最好還是以自己被告的心態小心回答還
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseSeven">
             Ｑ：假設被判緩刑或緩起訴或拘役或罰金會影響到良民証的申請嗎？
          </a>
        </div>
        <div class="accordion-body collapse" id="collapseSeven">
          <div class="accordion-inner">
            前案記錄，只是檢察署的參考，並非前科紀錄，不會影響申請，就算是違反個資法，雖然是兩年以下徒刑 但是緩刑跟易科罰金機率很高

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
