<section id="content">
  <div class="container">
    <div class="row">
    <%= render "process" %>
    <%= render "qa" %>
    <%= render "law" %>
  </div> <!-- /container -->
</section> <!-- /#content -->









