

  

     

<section id="content">
  <div class="container">
    <div class="row">
      <section id="masthead" class="masthead-sub">
        <div class="container">
          <h3 align = "center">程序</h3>
        </div> 
      </section> 
      <ul class="testimonial-list filled">
        <li><h3>1.告訴人至警察局提出告訴, 會有成案動作, 告訴人會收到三聯單</h3>
          <br>
        </li>
        <li>
          <h3>2.被告訴人收到警察局傳喚通知, 至警局後由警巡接手訊問, 訊問主導是偵察隊偵查組</h3>
          <br>
          <blockquote>偵查組處理刑事案件，主要是刑警由於不算是重大案件，只要放鬆心情好好面對即可，此一階段只是初步要收集事實呈現給檢察官，以及確認你的人別，警察會出示網路上的的發言記錄給你,訊問形式是一問一答的方式，若是對於行為、時間、地點不清楚，可要求警察提示確切的資料，自己也可以準備一些事實證物</blockquote>
        </li>
        <br>
        <li><h3>3.詢問完結後，會印一份記錄給你確認，確定無誤之後簽名或是蓋章</h3>
          <br>
          <blockquote>警察最終會問被告對於所告訴之主題的意見，如果回答沒意見，則隱含有認同被告之事實，因此最好回答說我並沒有觸犯XXX罪責，並闡述自己的意見，慢慢的小心回答並確認記錄中是否正確記錄下所呈述的內容</blockquote>
        </li>
        <li>
          <h3>4.案件會移送到檢察官作後續，會不會另做調查不一定，端看案子需求，由檢察官決定</h3>
          <br>
        </li>
        <li>
          <h3>5.收到地檢署的開庭通知</h3>
          <br>
          <blockquote>收到就要去，被告訴人有到場的義務，若有無法出席需事先請假，寫一張xxx狀，寄到法院，否則會進行拘提，警察會到家中或只上班地點將你拘提到案</blockquote>
        </li>
        <li>
          <h3>6.開庭時確認你的人別告知你的權利以及義務，也是一問一答，由檢查事務官或者檢察官詢問</h3>
          <br>
          <blockquote>跟警察局不同點是會有電腦螢幕還有書記官會打字，可注意打字部分確認無誤之後在回答，可以慢慢講讓書記官慢慢打，如果書記官叫你講快點還是慢慢講沒關係，看著電腦螢幕做呈述，如果書記官所記錄跟你所呈述有出入趕緊提出，呈述不夠明確會不利所以要確認筆記內容，最後也會問你對於此案之意見，所以可以的話儘量呈述自己無罪的部分</blockquote>
        </li>
        <li>
          <h3>7.檢察官在詢問的時候會問告訴人或是你要不要達成賠償的共識調解，如果願意會移送鄉鎮市的調解委員會</h3>
          <br>
          <blockquote>可以先答應無妨聽聽看對方所要的金額部分，也可構建出願意溝通的態度，調解的內容會記錄成調解筆錄，若答應告訴人的條件  就會要求告訴人撤告，則案子終結</blockquote>
        </li>
        <li>
          <h3>8.成立案件會送回地檢署繼續偵辦，如果涉嫌公然侮辱毀謗個資法就會進入到法院由法院來處理,此時就進入法院進行法律訴訟部分</h3>
          <br>
          <blockquote>關於訴訟費用問題，現在律師的行情一個階段大約6 - 10萬元，新手律師的話或許有機會3 - 4萬元</blockquote>
        </li> 
      </ul> <!-- /.section-title -->
      <br>
    </div> <!-- /.row -->
    <br>
    <section id="masthead" class="masthead-sub">
      <div class="container">
        <h3 align = "center">Ｑ＆Ａ部分</h3>
      </div>
    </section> 
    <br>
    <section id="service" class='section-wrapper'>
      <div class='container'>
        <div class="accordion" id="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
                Ｑ：決定起訴或合解的時間點
              </a>
            </div>
            <div class="accordion-body collapse in" id="collapseOne">
              <div class="accordion-inner">
                在案件起訴前的第一次或是第二次開庭就會詢問調解意願，起訴後就沒有辦法由檢察官調解，不過到達法院後也可以由自己本身提出調解的意願，書記官會做調解筆錄由法官考慮是否移交調解委員會，不過要調解而使原告撤告要在一審裁判前達成，如果犯罪事情不充分法官也裁定成不起訴
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
                Ｑ：警察傳喚會告知事由嗎？
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseTwo">
              <div class="accordion-inner">
                警察一定要告知告訴人姓名以及關於事情的人事時地物，如果沒有告知的話一定要詢問清楚
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
                Ｑ：編號是否真假?被告編號的真偽?如何確定是否真的被告
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseThree">
              <div class="accordion-inner">
                可以詢問警察局編號是否為真，可以查詢是否真的有這個報案動作，關於網路的告訴的話，警察需要一段時間得到你的網路個人資料，在這時間內不一定有辦法直接查到是你本人
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">
                Ｑ：謊稱報案來嚇阻他人的一些動作會不會構成強制罪?強暴脅迫?
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseFour">
              <div class="accordion-inner">
                很難因此構成強制罪，要看他的一些後續行為
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">
                Ｑ：網路上搜集並公佈關於某個人的新聞是否違反各資法?
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseFive">
              <div class="accordion-inner">
                假設是訊息內有暗示可以使人聯想到某個人，就有觸法的疑慮
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseSix">
                 Ｑ：偵查庭傳喚的身份是關係人，可以轉移至其它地點嗎?
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseSix">
              <div class="accordion-inner">
                可以申請轉移關係人看看，關係人其實介於證人跟被告中間，證人的話就會變成，有作證的義務，也有關係人被轉成被告的，所以最好還是以自己被告的心態小心回答還
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseSeven">
                 Ｑ：假設被判緩刑或緩起訴或拘役或罰金會影響到良民証的申請嗎？
              </a>
            </div>
            <div class="accordion-body collapse" id="collapseSeven">
              <div class="accordion-inner">
                前案記錄，只是檢察署的參考，並非前科紀錄，不會影響申請，就算是違反個資法，雖然是兩年以下徒刑 但是緩刑跟易科罰金機率很高

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <section id="masthead" class="masthead-sub">
      <div class="container">
        <h3 align = "center">相關法條</h3>
      </div>
    </section> 
    <br>
    <div class="row">
      <div class="section-title">
        <h2>妨害電腦使用罪相關條文</h2>
      </div> <!-- /.section-title -->
      <div class="span12">
        <ul class="mark-list">
          <li class="">
            <span class="mark"><i class="icon-chevron-right"></i></span>
            <h3>刑法第 359 條<h3>
            <br>
            <p>無故取得、刪除或變更他人電腦或其相關設備之電磁紀錄，致生損害於公眾或他人者，處五年以下有期徒刑、拘役或科或併科二十萬元以下罰金。</p>
          </li>
        </ul>
      </div>          
    </div>
    <div class="row">
      <div class="section-title">
         <h2>防害名譽及信用最相關條文</h2>
      </div> <!-- /.section-title -->
      <div class="span12">
        <ul class="mark-list">
          <li class="">
            <span class="mark"><i class="icon-chevron-right"></i></span>
            <h3>刑法第 309 條<h3>
            <br>
            <p>公然侮辱人者，處拘役或三百元以下罰金。以強暴犯前項之罪者，處一年以下有期徒刑、拘役或五百元以下罰金。.</p>
          </li>
          <li class="">
            <span class="mark"><i class="icon-star"></i></span>
            <h3>刑法第 310 條<h3>
            <br>
            <p>意圖散布於眾，而指摘或傳述<font style="background-color:#f89406">足以毀損他人名譽之事者</font>，為誹謗罪，處一年以下有期徒刑、拘役或五百元以下罰金。散布文字、圖畫犯前項之罪者，處二年以下有期徒刑、拘役或一千元以下罰金。
            <font style="background-color:#f89406">對於所誹謗之事，能證明其為真實者，不罰。但涉於私德而與公共利益無關者，不在此限</font>。</p>
          </li>
          <li class="">
            <span class="mark"><i class="icon-star"></i></span>
            <h3>刑法第 311 條<h3>
            <br>
            <p>以善意發表言論，而有下列情形之一者，不罰：一、因自衛、自辯或保護合法之利益者。二、公務員因職務而報告者。三、<font style="background-color:#f89406">對於可受公評之事，而為適當之評論者</font>。四、對於中央及地方之會議或法院或公眾集會之記事，而為適當之載述者。</p>
          </li>
        </ul>
         <ul class="testimonial-list filled">
          <li>
            <blockquote>
              在刑法310條中，可知定罪的關鍵在於“足以可以毀損他人名譽”，在偵查庭上面的抗辯上面, 1.可以主張沒有毀損他的名譽，如所說的話並非貶義等，但這也取決于法官的主觀判定，2.主張所說的是為事實，且與公共利益有關。
              關於刑法311條第三款，3.可主張此事為，可受公評之事情，適時的發表評論，而成為善意的提醒人，從法條可知只要成功主張是公益之事便不容易被定罪，但怎樣才是公共利益？可能跟人數多寡，跟事件影響力有關，這也是要看法官的判定，一般來說2.3點要成立較為困難
            </blockquote>
          </li>
        </ul>
      </div> 
    </div>
    <br>
    <div class="row">
      <div class="section-title">
        <h2>個人資料保護法相關條文</h2>
      </div> <!-- /.section-title -->
      <div class="span12">
        <ul class="mark-list">
          <li class="">
          <span class="mark"><i class="icon-chevron-right"></i></span>
            <h3>個資法第 2 條<h3>
            <br>
            <p>本法用詞，定義如下：一、個人資料：指自然人之姓名、出生年月日、國民身分證統一編號、護照號碼、特徵、指紋、婚姻、家庭、教育、職業、病歷、醫療、基因、性生活、健康檢查、犯罪前科、聯絡方式、財務情況、社會活動及其他得以直接或間接方式識別該個人之資料。二、個人資料檔案：指依系統建立而得以自動化機器或其他非自動化方式檢索、整理之個人資料之集合。三、蒐集：指以任何方式取得個人資料。四、處理：指為建立或利用個人資料檔案所為資料之記錄、輸入、儲存、編輯、更正、複製、檢索、刪除、輸出、連結或內部傳送。五、利用：指將蒐集之個人資料為處理以外之使用。六、國際傳輸：指將個人資料作跨國（境）之處理或利用。七、公務機關：指依法行使公權力之中央或地方機關或行政法人。八、非公務機關：指前款以外之自然人、法人或其他團體。九、當事人：指個人資料之本人。</p>
          </li>
          <li class="">
            <span class="mark"><i class="icon-star"></i></span>
            <h3>個資法第 19 條<h3>
            <br>
            <p>非公務機關對個人資料之蒐集或處理，除第六條第一項所規定資料外，應有特定目的，並符合下列情形之一者：一、法律明文規定。二、與當事人有契約或類似契約之關係。三、當事人自行公開或其他已合法公開之個人資料。四、學術研究機構基於公共利益為統計或學術研究而有必要，且資料經過提供者處理後或蒐集者依其揭露方式無從識別特定之當事人。五、經當事人書面同意。六、與公共利益有關。七、個人資料取自於一般可得之來源。但當事人對該資料之禁止處理或利用，顯有更值得保護之重大利益者，不在此限。蒐集或處理者知悉或經當事人通知依前項第七款但書規定禁止對該資料之處理或利用時，應主動或依當事人之請求，刪除、停止處理或利用該個人資料。</p>
          </li>
          <li class="">
            <span class="mark"><i class="icon-star"></i></span>
            <h3>個資法第 20 條<h3>
            <br>
            <p>非公務機關對個人資料之利用，除第六條第一項所規定資料外，應於蒐集之特定目的必要範圍內為之。但有下列情形之一者，得為特定目的外之利用：一、法律明文規定。二、為增進公共利益。三、為免除當事人之生命、身體、自由或財產上之危險。四、<font style="background-color:#f89406">為防止他人權益之重大危害</font>。五、公務機關或學術研究機構基於公共利益為統計或學術研究而有必要，且資料經過提供者處理後或蒐集者依其揭露方式無從識別特定之當事人。六、經當事人書面同意。非公務機關依前項規定利用個人資料行銷者，當事人表示拒絕接受行銷時，應即停止利用其個人資料行銷。非公務機關於首次行銷時，應提供當事人表示拒絕接受行銷之方式，並支付所需費用。</p>
          </li>
          <li class="">
            <span class="mark"><i class="icon-star"></i></span>
            <h3>個資法第 41 條<h3>
            <br>
            <p>違反第六條第一項、第十五條、第十六條、第十九條、第二十條第一項規定，或中央目的事業主管機關依第二十一條限制國際傳輸之命令或處分，足生損害於他人者，處二年以下有期徒刑、拘役或科或併科新臺幣二十萬元以下罰金。意圖營利犯前項之罪者，處五年以下有期徒刑，得併科新臺幣一百萬元以下罰金。</p>
          </li>
        </ul>
        <ul class="testimonial-list filled">
          <li>
            <blockquote>
              個資法的範圍很大，很容易觸法，如網路上的懶人包，人肉搜尋之類的，且最重可處兩年以下有期徒刑，在網路上的發言還是要小心點比較好，個資法比較好解套的方向為：1. 防止他人利益受重大危害，成為善意的提醒人2.為了公益
            </blockquote>
          </li>
        </ul>
      </div> 
    </div>
    <br>
  </div> <!-- /container -->
</section> <!-- /#content -->









